<div class="desc-tabs">
  <button
    [class.active]="tab === 'description'"
    (click)="tab = 'description'"
    type="button"
  >
    Description
  </button>
  <button
    [class.active]="tab === 'solution'"
    (click)="tab = 'solution'"
    type="button"
  >
    Solution
  </button>
</div>

<div *ngIf="tab === 'description'">
  <div *ngIf="description; else noDesc" [innerHTML]="description"></div>
  <ng-template #noDesc>
    <p>No description available.</p>
  </ng-template>
</div>
<div *ngIf="tab === 'solution'">
  <div *ngIf="solution; else noSol" [innerHTML]="solution"></div>
  <ng-template #noSol>
    <p>No solution available.</p>
  </ng-template>
</div>
