<app-header class="header" (go)="onGo($event)"></app-header>

<ng-container *ngIf="!notFound; else notFoundTpl">
  <p-splitter
    [style]="{ height: 'calc(100vh - 50px)' }"
    [panelSizes]="[40, 60]"
    styleClass="mb-5"
  >
    <ng-template pTemplate="panel1">
      <app-description [description]="description"></app-description>
    </ng-template>
    <ng-template pTemplate="panel2">
      <p-splitter layout="vertical" [panelSizes]="[70, 30]">
        <ng-template pTemplate="panel1"><app-ide></app-ide></ng-template>
        <ng-template pTemplate="panel2"
          ><app-console></app-console
        ></ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</ng-container>
<ng-template #notFoundTpl>
  <app-not-found></app-not-found>
</ng-template>
