<app-header 
  class="header" 
  [selectedLanguage]="selectedLanguage"
  [isRunning]="isRunning"
  (go)="onGo($event)"
  (languageChange)="onLanguageChange($event)"
  (run)="onRun()"
></app-header>

<div class="header-spacer"></div>

<ng-container *ngIf="!notFound; else notFoundTpl">
  <p-splitter
    [style]="{ height: 'calc(100vh - 82px)' }"
    [panelSizes]="horizontalPanelSizes"
    [minSizes]="[25, 10]"
    (onResizeEnd)="onHorizontalResizeEnd($event)"
  >
    <ng-template pTemplate="panel1">
      <app-content-tabs
        [description]="description"
        [solutionText]="solutionText"
        [solutionCode]="solutionCode">
      </app-content-tabs>
    </ng-template>
    <ng-template pTemplate="panel2">
      <p-splitter layout="vertical" [panelSizes]="verticalPanelSizes" [minSizes]="[10, 5]" (onResizeEnd)="onVerticalResizeEnd($event)">
        <ng-template pTemplate="panel1">
          <app-ide 
            [language]="selectedLanguage"
            [template]="template"
          ></app-ide>
        </ng-template>
        <ng-template pTemplate="panel2">
          <app-console [result]="executionResult"></app-console>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</ng-container>
<ng-template #notFoundTpl>
  <app-not-found></app-not-found>
</ng-template>
