<div class="ide-wrapper">
  <div class="taskbar">
    <div class="taskbar-left">
    </div>
    <div class="taskbar-right">
      <button
        pButton
        type="button"
        (click)="resetTemplate()"
        [disabled]="!template"
        class="reset-btn"
        title="Reset Template"
      >🔄</button>
      <button
        type="button"
        (click)="onRun()"
        [disabled]="isRunning"
        class="run-btn"
      >{{ isRunning ? 'Running...' : 'Run' }}</button>
    </div>
  </div>
  <div #editor class="editor-container"></div>
</div>
