<div class="courses-container">
  <div class="courses-header">
    <h1>Courses</h1>
    <p>Discover programming courses and tutorials designed to level up your coding skills.</p>
  </div>
  
  <div class="search-container">
    <p-autoComplete
      [(ngModel)]="selectedCourse"
      [suggestions]="searchResults"
      (completeMethod)="onSearch($event)"
      (onSelect)="onSelect($event.value)"
      (keydown)="onKeyDown($event)"
      field="title"
      placeholder="Search courses..."
      [forceSelection]="false"
      class="course-search"
    >
      <ng-template let-course pTemplate="item">
        <div class="search-item">
          <div class="search-title">{{ course.title }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  
  <div class="course-list" *ngIf="displayResults.length > 0">
    <div *ngFor="let course of displayResults" class="course-item" (click)="onSelect(course)">
      <h3>{{ course.title }}</h3>
    </div>
  </div>
  
  <div *ngIf="displayResults.length === 0" class="no-results">
    <p>No courses found. Try a different search term.</p>
  </div>
</div>
