<div class="header-flex">
  <p-autoComplete
    [(ngModel)]="selectedQuestion"
    [suggestions]="searchResults"
    (completeMethod)="onSearch($event)"
    (onSelect)="onSelect($event)"
    (keydown)="onKeyDown($event)"
    field="title"
    placeholder="Search questions..."
    [forceSelection]="false"
    class="question-search"
  >
    <ng-template let-question pTemplate="item">
      <div class="search-item">
        <div class="search-title">{{ question.title }}</div>
      </div>
    </ng-template>
  </p-autoComplete>
  <div class="flex-spacer"></div>
  <p-dropdown
    [options]="languages"
    [(ngModel)]="selectedLanguage"
    (ngModelChange)="onLanguageChange($event)"
    optionLabel="label"
    optionValue="value"
    placeholder="Select Language"
    class="language-dropdown"
  ></p-dropdown>
  <button
    pButton
    type="button"
    [label]="isRunning ? 'Running...' : 'Run'"
    (click)="onRun()"
    [disabled]="isRunning"
    class="run-btn"
  ></button>
  <div class="flex-spacer"></div>
</div>
